[user]
	email = koomen@protonmail.com
	name = Kim 金可明
	signingkey = 63861BD482F9BBA2
[alias]
	cleanup = "!git branch --merged | grep -v '\\*\\|master\\|main\\|develop\\|development\\|uat\\|origin' | xargs -n 1 git branch -D"
	pom = push origin master
	pum = pull origin master
	pod = push origin develop
	pud = pull origin develop
	ds = diff --staged
	d = diff
	dst = diff --stat=160,120
	aa = add --all
	st = status
	b = branch
	c = checkout
	l = log --graph --pretty=format:'%C(auto)%h%d %s %C(magenta)%cr %C(white)➜  %C(blue)%an <%ae> %C(green)%GK%C(auto)' --abbrev-commit --date=relative
	root = rev-parse --show-toplevel
	first-commit = "!git log --pretty=format:'%h%d ➜  %s (%cr) ➜  %an <%ae>' --reverse --abbrev-commit --date=relative | head -1"
[push]
	default = current
[core]
	pager = diff-so-fancy | less --tabs=4 -RFX
	ignorecase = false
[color]
	ui = true
[color "diff-highlight"]
	oldNormal = red
	oldHighlight = red 52
	newNormal = green
	newHighlight = green 22
[color "diff"]
	meta = yellow
	frag = magenta
	commit = yellow
	old = red
	new = green
	whitespace = red reverse
[commit]
	gpgsign = true
[gpg]
	program = gpg
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[pull]
	rebase = false
